{% extends "::layout.html.twig" %}
{% block css %}
    {{ parent() }}
{% endblock %}
{% block title %}
    Modifier un pointage - {{ parent() }}
{% endblock %}
{% block body %}
    <div id="page_heading" data-uk-sticky="{ top: 48, media: 960 }">
        <h1>Formulaire de modification du pointage</h1>
        <span class="uk-text-muted uk-text-upper uk-text-small">veuillez bien remplir les champs</span>
    </div>
    {{ include("SBCPlatformBundle:Pointage:form.html.twig") }}
{% endblock %}
{% block js %}
{{ parent() }}
    <script>
        altair_forms.parsley_validation_config();
    </script>
    {% javascripts output="js/compiled/mainValidation.js"
    'bundles/sbcplatform/bower_components/parsleyjs/dist/parsley.min.js'
    'bundles/sbcplatform/assets/js/pages/forms_validation.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}