{% extends "::layout.html.twig" %}
{% block css %}
    {{ parent() }}
{% endblock %}
{% block title %}
    Liste des pointages - {{ parent() }}
{% endblock %}
{% block body %}
    <div id="page_heading" data-uk-sticky="{ top: 48, media: 960 }">
        <h1>Liste des pointages</h1>
        <span class="uk-text-muted uk-text-upper uk-text-small">Liste de tous les pointages</span>
    </div>
    <div id="page_content_inner">
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content">
                <div class="dt_colVis_buttons"></div>
                <table id="dt_tableExport" class="uk-table" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Matériel</th>
                        <th>Date de poinatge</th>
                        <th>Durée d'utilisation</th>
                        <th>Emplacement</th>
                        <th>Pointé par</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for pointage in listPointages %}
                        <tr>
                            <td>  {{ pointage.materiel.name }}</td>
                            <td>  {{ pointage.creationdate|date('d/m/Y') }}</td>
                            <td>  {{ pointage.usedduration }}</td>
                            <td>  {{ pointage.emplacement.name }}</td>
                            <td>  {{ pointage.pointedby.name }}</td>
                            <td>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <a title="Afficher" data-uk-tooltip="{cls:'uk-tooltip-small',pos:'top'}"
                                       href="{{ path('pointage_view', {'id': pointage.id}) }}">
                                        <i class="md-icon material-icons">&#xE417;</i>
                                    </a>
                                    {#<a href="{{ path('pointage_edit', {'id': pointage.id}) }}"><i#}
                                    {#class="md-icon material-icons"></i></a>#}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ parent() }}
    {% javascripts output="js/compiled/mainIndex.js"
    'bundles/sbcplatform/bower_components/datatables/media/js/jquery.dataTables.min.js'
    'bundles/sbcplatform/bower_components/datatables-buttons/js/dataTables.buttons.js'
    'bundles/sbcplatform/assets/js/custom/datatables/buttons.uikit.js'
    'bundles/sbcplatform/bower_components/jszip/dist/jszip.min.js'
    'bundles/sbcplatform/bower_components/pdfmake/build/pdfmake.min.js'
    'bundles/sbcplatform/bower_components/pdfmake/build/vfs_fonts.js'
    'bundles/sbcplatform/bower_components/datatables-buttons/js/buttons.colVis.js'
    'bundles/sbcplatform/bower_components/datatables-buttons/js/buttons.html5.js'
    'bundles/sbcplatform/bower_components/datatables-buttons/js/buttons.print.js'
    'bundles/sbcplatform/assets/js/custom/datatables/datatables.uikit.min.js'
    'bundles/sbcplatform/assets/js/pages/plugins_datatables.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}