<div id="page_content_inner">
    <div class="md-card">
        <div class="md-card-content large-padding">
            {{ form_start(form, {'attr': {'class': 'uk-form-stacked', 'id':'form_validation'}}) }}
            {{ form_errors(form) }}
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    <div class="parsley-row">
                        {{ form_label(form.name, "Nom du matériel"|trans) }}
                        {{ form_widget(form.name, {'attr': {'class': 'md-input', 'required':''}}) }}
                        <span class="col-md-6 col-sm-4 col-xs-12 control-label red">     {{ form_errors(form.name) }} </span>
                    </div>
                </div>
                <div class="uk-width-medium-1-2">
                    <div class="parsley-row">
                        {{ form_label(form.reference, "Référence"|trans) }}
                        {{ form_widget(form.reference, {'attr': {'class': 'md-input'}}) }}
                        <span class="col-md-6 col-sm-4 col-xs-12 control-label red">     {{ form_errors(form.reference) }} </span>
                    </div>
                </div>
                <div class="uk-width-medium-1-2">
                    <div class="parsley-row">
                        {{ form_label(form.registration, "Immatriculation"|trans) }}
                        {{ form_widget(form.registration, {'attr': {'class': 'md-input'}}) }}
                        <span class="col-md-6 col-sm-4 col-xs-12 control-label red">     {{ form_errors(form.registration) }} </span>
                    </div>
                </div>
            </div>
            <br/>
            <div class="uk-grid">
                <div class="uk-width-1-2">
                    <div class="parsley-row">
                        {{ form_label(form.status, "Statut"|trans) }}
                        <div class="dynamic_radio uk-margin-small-top">
                            {% for child in form.status %}
                                <span class="icheck-inline">
                                {{ form_widget(child, { 'attr': { 'name': 'options', 'id':'child' , 'data-md-icheck':''}}) }}
                                    {{ form_label(child) }}
                            </span>
                            {% endfor %}
                            <span class="col-md-6 col-sm-4 col-xs-12 control-label red">    {{ form_errors(form.status) }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-grid">
                <div class="uk-width-1-1">
                    {{ form_widget(form.save, {'attr': {'class': 'md-btn md-btn-primary'}}) }}
                </div>
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
</div>