{% extends "::layout.html.twig" %}
{% block title %}
    Lecture d'un chantier - {{ parent() }}
{% endblock %}
{% block body %}
    <div id="page_heading" data-uk-sticky="{ top: 48, media: 960 }">
        <h1>{{ chantier.name }}</h1>
        <span class="uk-text-muted uk-text-upper uk-text-small">{{ chantier.code }}</span>
    </div>
    <div id="page_content_inner">
        <div class="uk-grid uk-grid-medium" data-uk-grid-margin>
            <div class="uk-width-xLarge-8-10 uk-width-large-10-10">
                <div class="md-card">
                    <div class="md-card-toolbar">
                        <h3 class="md-card-toolbar-heading-text">
                            Détails du chantier
                        </h3>
                    </div>
                    <div class="md-card-content">
                        <ul class="md-list">
                            <li>
                                <div class="md-list-content">
                                    <span class="uk-text-small uk-text-muted uk-display-block">Nom du chantier </span>
                                    <span class="md-list-heading uk-text-large">{{ chantier.name }}</span>
                                </div>
                            </li>
                            <li>
                                <div class="md-list-content">
                                    <span class="uk-text-small uk-text-muted uk-display-block">Code du chantier </span>
                                    <span class="md-list-heading uk-text-large">{{ chantier.code }}</span>
                                </div>
                            </li>
                            <li>
                                <div class="md-list-content">
                                    <span class="uk-text-small uk-text-muted uk-display-block">Ajouté le</span>
                                    <span class="md-list-heading uk-text-large">{{ chantier.creationdate|date('d/m/Y') }}</span>
                                </div>
                            </li>
                            <li>
                                <div class="md-list-content">
                                    <span class="uk-text-small uk-text-muted uk-display-block">Localisation </span>
                                    <span class="md-list-heading uk-text-large"> {{ chantier.location }}</span>
                                </div>
                            </li>
                            <li>
                                <div class="md-list-content">
                                    <span class="uk-text-small uk-text-muted uk-display-block">Statut</span>
                                    <span class="md-list-heading uk-text-large">{{ chantier.status }}</span>
                                </div>
                            </li>
                            {% if chantier.status == 'En cours' %}
                                <li>
                                    <div class="md-list-content">
                                        <span class="uk-text-small uk-text-muted uk-display-block">Débuté le</span>
                                        <span class="md-list-heading uk-text-large"> {{ chantier.begindate|date('d/m/Y') }}</span>
                                    </div>
                                </li>
                            {% endif %}
                            {% if chantier.status == 'Cloturé' %}
                                <li>
                                    <div class="md-list-content">
                                        <span class="uk-text-small uk-text-muted uk-display-block">Débuté le</span>
                                        <span class="md-list-heading uk-text-large"> {{ chantier.begindate|date('d/m/Y') }}</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="md-list-content">
                                        <span class="uk-text-small uk-text-muted uk-display-block">Cloturé le</span>
                                        <span class="md-list-heading uk-text-large"> {{ chantier.finishdate|date('d/m/Y') }}</span>
                                    </div>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="md-fab-wrapper md-fab-speed-dial">
        <a class="md-fab md-fab-primary" href="javascript:void(0)" data-uk-tooltip="{pos:'right'}"
           title="Actions"><i class="material-icons">&#xE55D;</i>
        </a>
        <div class="md-fab-wrapper-small">
            <a class="md-fab md-fab-small md-fab-danger" href="javascript:void(0)"
               data-uk-tooltip="{cls:'uk-tooltip-small',pos:'left'}" title="Supprimer"
               onclick="UIkit.modal.confirm('Voulez vous vraiment supprimer ce chantier ?',
                       function(){
                       var url = '{{ path('chantier_delete', {'id': 'idChantier'}) }}';
                       url = url.replace('idChantier', {{ chantier.id }});
                       $.ajax({
                       url: url,
                       type: 'delete',
                       success: function (result) {
                       if (result.success) {
                       UIkit.modal.alert('Le chantier a été supprimé avec succès.'

                       ).on('hide.uk.modal', function() {
                       history.back();
                       });
                       }
                       },
                       error: function (e) {
                       console.log(e.responseText);
                       UIkit.modal.alert('Vous n\'avez pas le droit de supprimer ce chantier, il est utilisé dans un transfert ou un pointage.');;
                       }
                       });

                       });"

            ><i class="material-icons">&#xE92B;</i>
            </a>
            <a class="md-fab md-fab-small md-fab-success" href="{{ path('chantier_edit', {'id': chantier.id}) }}"
               data-uk-tooltip="{cls:'uk-tooltip-small',pos:'left'}" title="Modifier">
                <i class="material-icons">&#xE3C9;</i>
            </a>
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ parent() }}
{% endblock %}
