{% extends "::layout.html.twig" %}
{% block title %}
    Lecture d'un ouvrier - {{ parent() }}
{% endblock %}
{% block body %}
    <div id="page_heading" data-uk-sticky="{ top: 48, media: 960 }">
        <h1>{{ ouvrier.name }}</h1>
        <span class="uk-text-muted uk-text-upper uk-text-small">{{ ouvrier.code }}</span>
    </div>
    <div id="page_content_inner">
        <div class="uk-grid uk-grid-medium" data-uk-grid-margin>
            <div class="uk-width-xLarge-8-10 uk-width-large-10-10">
                <div class="md-card">
                    <div class="md-card-toolbar">
                        <h3 class="md-card-toolbar-heading-text">
                            Détails de l'ouvrier
                        </h3>
                    </div>
                    <div class="md-card-content">
                        <ul class="md-list">
                            <li>
                                <div class="md-list-content">
                                    <span class="uk-text-small uk-text-muted uk-display-block">Nom de l'ouvrier </span>
                                    <span class="md-list-heading uk-text-large">{{ ouvrier.name }}</span>
                                </div>
                            </li>
                            <li>
                                <div class="md-list-content">
                                    <span class="uk-text-small uk-text-muted uk-display-block">Code de l'ouvrier </span>
                                    <span class="md-list-heading uk-text-large">{{ ouvrier.code }}</span>
                                </div>
                            </li>
                            <li>
                                <div class="md-list-content">
                                    <span class="uk-text-small uk-text-muted uk-display-block">CIN</span>
                                    <span class="md-list-heading uk-text-large">{{ ouvrier.cin }}</span>
                                </div>
                            </li>
                            <li>
                                <div class="md-list-content">
                                    <span class="uk-text-small uk-text-muted uk-display-block">Tél </span>
                                    <span class="md-list-heading uk-text-large"> {{ ouvrier.phonenumber }}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="md-fab-wrapper md-fab-speed-dial">
        <a class="md-fab md-fab-primary" href="javascript:void(0)" data-uk-tooltip="{pos:'right'}"
           title="Actions"><i class="material-icons">&#xE55D;</i>
        </a>
        <div class="md-fab-wrapper-small">
            <a class="md-fab md-fab-small md-fab-danger" href="javascript:void(0)"
               data-uk-tooltip="{cls:'uk-tooltip-small',pos:'left'}" title="Supprimer"
               onclick="UIkit.modal.confirm('Voulez vous vraiment supprimer cet ouvrier ?',
                       function(){
                       var url = '{{ path('ouvrier_delete', {'id': 'idOuvrier'}) }}';
                       url = url.replace('idOuvrier', {{ ouvrier.id }});
                       $.ajax({
                       url: url,
                       type: 'delete',
                       success: function (result) {
                       if (result.success) {

                       UIkit.modal.alert('L\'ouvrier a été supprimé avec succès.'

                       ).on('hide.uk.modal', function() {
                       history.back();
                       });
                       }
                       },
                       error: function (e) {
                       console.log(e.responseText);
                       UIkit.modal.alert('Vous n\'avez pas le droit de supprimer cet ouvrier, il est utilisé dans un transfert ou un pointage.');;
                       }
                       });
                       });"
            ><i class="material-icons">&#xE92B;</i>
            </a>
            <a class="md-fab md-fab-small md-fab-success" href="{{ path('ouvrier_edit', {'id': ouvrier.id}) }}"
               data-uk-tooltip="{cls:'uk-tooltip-small',pos:'left'}" title="Modifier">
                <i class="material-icons">&#xE3C9;</i>
            </a>
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ parent() }}
{% endblock %}